.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inputId{
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    color: #ffffff;
    background: #494949;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.labelInputId{
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
    display: inline;
    z-index: 0;
}